{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}
    {% if success %}
        {% trans "Account Activated" %}
    {% else %}
        {% trans "Account Activation failed" %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">Registration {% if success %}Complete{% else %}Failed{% endif %}</li>
{% endblock %}

{% block main %}
    <!-- Contents Section Started -->
    <div class="sections">
        <h2 class="heading">Registration {% if success %}Complete{% else %}Failed{% endif %}</h2>
        <div class="clearfix"></div>
        {% if success %}
            <div class="alert alert-success fade in">
                <h4>Congratulations!</h4>
                <p> You have successfully activated your account. Please proceed to our <a href="{% url 'login' %}">login</a> page. </p>
            </div>
        {% else %}
            <div class="alert alert-danger fade in">
                <h4>Oh snap!</h4>
                <p> Something went wrong with your registration. Please try again. </p>
            </div>
        {% endif %}
    </div>
    <!-- Contents Section End -->
{% endblock %}
