{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}

{% block meta_title %}Lessons On Video - Sign Up{% endblock %}

{% block title %}
Lessons On Video - Signup
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">Signup</li>
{% endblock %}

{% block main %}
    <div class="sections come-in">
        <div class="table-responsive">
            <form method="POST" role="form">
                {% csrf_token %}
                <table class="table">
                    <tbody>
                        {{ form.as_table }}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <input type="submit" class="btn btn-primary backcolor" value="Sign Up" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
