{% extends "base.html" %}
{% load i18n lesson_tags keyword_tags mezzanine_tags %}

{% block meta_title %}Category | {{ category.title }}{% endblock %}
{% block meta_description %}{{ category.meta_description }}{% endblock %}
{% block meta_keywords %}{% metablock %}
{% keywords_for category as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}
{% block title %}Category | {{ category.title }}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    function assignPaginateEvent() {
        $(".category-paginate").click(function(e) {
            e.preventDefault();
            var pagenumber = $(this).data("pagenumber");

            callCategoryAjax(pagenumber);
        });
    }

    function callCategoryAjax(pagenumber) {
        if(pagenumber === undefined)
            pagenumber = 1;
        var categoryURL = "{% url 'category_videos_ajax' category.slug %}" + "?page=" + pagenumber;

        $.ajax({
            url: categoryURL,
            type: "GET",
            beforeSend: function() {
                $(".lessons-div").hide();
                $(".preLoader").fadeIn();
            },
            success: function(result) {
                $(".lessons-div").html(result);
                assignPaginateEvent();
                $(".preLoader").hide();
                $(".lessons-div").fadeIn({
                    duration: 400,
                    progress: function() {
                        jQuery('.equalcol').responsiveEqualHeightGrid();
                }});
            }
        });
    }

    $(document).ready(function() {
        callCategoryAjax();
    });
    </script>
{% endblock %}

{% block breadcrumb_menu %}
<li>Category</li>
<li class="active">{{ category.title }}</li>
{% endblock %}

{% block main %}
    <!-- Contents Section Started -->
    <div class="sections">
        <h2 class="heading">{{ category.title }} videos</h2>
        <div class="clearfix"></div>
        <div class="row preLoader">
            <img src="{{ STATIC_URL }}theme/images/loading.gif" />
            <br />
            <br />
        </div>
        <div class="row lessons-div">
        </div>
    </div>
    <!-- Contents Section End -->
    <div class="clearfix"></div>
{% endblock %}

{% block sidebar_ads %}
    {% for ad in category.get_ads %}
        <!-- Advertisement start -->
        <div class="widget">
            {{ ad.ad_script|safe }}
        </div>
        <div class="clearfix"></div>
        <!-- Advertisement End -->
    {% endfor %}
{% endblock %}

{% block ad_top_banner %}
    {% if category.ad_top %}
        {{ category.ad_top|safe }}
    {% else %}
        <figure class="header-adv">
            <a href="#"><img src="{{ STATIC_URL }}theme/images/adv.gif" class="img-responsive" alt="Advertisment" /></a>
        </figure>
    {% endif %}
{% endblock %}
