{% extends "base.html" %}
{% load i18n embed_video_tags lesson_tags pageviews_tags %}

{% block meta_title %}Video | {{ lesson.title }}{% endblock %}
{% block title %}Video | {{ lesson.title }}{% endblock %}

{% block breadcrumb_menu %}
<li>Videos</li>
<li class="active">{{ lesson.title }}</li>
{% endblock %}

{% block video_content %}
    {% video lesson.video as vid %}
    <!-- Video Player Section Start -->
    <div class="videoplayersec">
        <div class="vidcontainer">
            <div class="row"> 
                <!-- Video Player Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 playershadow">
                    <div class="playeriframe">
                        {% video vid 'large' %}
                    </div>
                </div>
                <!-- Video Player End --> 
                <!-- Video Stats and Sharing Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo">
                    <div class="row"> 
                        <!-- Uploader Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 uploader">
                            <figure> <a href="video-list.html"><img src="{{ STATIC_URL }}theme/images/avatar.gif" alt="" /></a> </figure>
                            <div class="aboutuploader">
                                <h5><a href="video-list.html">By {{ lesson.user.get_full_name }}</a></h5>
                                <time datetime="25-12-2014">Uploaded : {{ lesson.uploaded_date|date:"d b Y" }}</time>
                                <br />
                                <!-- <a class="btn btn-primary btn-xs backcolor" href="#">Watch All Videos</a> --> </div>
                        </div>
                        <!-- Uploader End --> 
                        <!-- Video Stats Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats">
                            <hr class="visible-xs" />
                            <ul>
                                <!-- <li class="likes">
                                    <h5>Likes</h5>
                                    <h2>250</h2>
                                </li> -->
                                <li class="views">
                                    <h5>Views</h5>
                                    <h2>{% pageviews %}</h2>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Stats End --> 
                        <!-- Video Share Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 videoshare">
                            <ul>
                                <li class="facebook">
                                    <i class="fa fa-facebook"></i>
                                    <div class="shaingstats">
                                        <h5>{{ shares.facebook }}</h5>
                                        <p>Shares</p>
                                    </div>
                                    <a href="http://www.facebook.com" class="link" target="_blank"></a>
                                </li>
                                <li class="twitter">
                                    <i class="fa fa-twitter"></i>
                                    <div class="shaingstats">
                                        <h5>{{ shares.twitter }}</h5>
                                        <p>Tweets</p>
                                    </div>
                                    <a href="http://www.twitter.com" class="link" target="_blank"></a>
                                </li>
                                <li class="gplus">
                                    <i class="fa fa-google-plus"></i>
                                    <div class="shaingstats">
                                        <h5>{{ shares.google_plus }}</h5>
                                        <p>Shares</p>
                                    </div>
                                    <a href="https://plus.google.com" class="link" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Share End --> 
                    </div>
                </div>
                <!-- Video Stats and Sharing End --> 
                <!-- Like This Video Start -->
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 likeit">
                    <hr />
                    <a class="btn btn-primary backcolor" href="#">Like This Video</a>
                </div> -->
                <!-- Like This Video Enb --> 
            </div>
        </div>
    </div>
    <!-- Video Player Section End -->
    {% endvideo %}
{% endblock %}

{% block main %}
    <!-- Contents Section Started -->
    <div class="sections">
        <h2 class="heading">Featured Videos</h2>
        <div class="clearfix"></div>
        <div class="row">
            {% for lesson in lessons %}
                {% video lesson.video as vid %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <!-- Video Box Start -->
                        <div class="videobox2">
                            <figure> 
                                <!-- Video Thumbnail Start --> 
                                <a href="#">
                                    <img src="{{ vid.thumbnail }}" class="img-responsive hovereffect" alt="" />
                                </a> 
                                <!-- Video Thumbnail End -->
                                <!-- Video Info Start -->
                                <div class="vidopts">
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>{{ lesson.duration|convert_to_time }}</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- Video Info End --> 
                            </figure>
                            <!-- Video Title Start -->
                            <h4><a href="video-detail-double-sidebar.html">{{ lesson.title|truncatechars:45 }}</a></h4>
                            <!-- Video Title End --> 
                        </div>
                        <!-- Video Box End --> 
                    </div>
                {% endvideo %}
            {% endfor %}
        </div>
    </div>
    <!-- Contents Section End -->
    <div class="clearfix"></div>
{% endblock %}

{% block sidebar %}
    <!-- Interactive Tabs Widget start -->
    <div class="widget">
        <div class="interactivetabs"> 
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="intertabs">
                <li class="active"><a href="#abouttab" data-toggle="tab"><i class="fa fa-video-camera"></i>Videos</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Video List Tab Start -->
                <div class="tab-pane fade in active" id="abouttab">
                    <div class="videolistsmall">
                        <ul class="bloglist">
                            <li>
                                <div class="media">
                                    <a href="video-detail-double-sidebar.html" class="pull-left">
                                        <img class="media-object img-responsive hovereffect" src="{{ STATIC_URL }}theme/images/img16.jpg" alt="" />
                                    </a>
                                    <div class="media-body">
                                        <h5><a href="video-detail-double-sidebar.html">Dann Petty on Curabitur</a></h5>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i>10:56</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="video-detail-double-sidebar.html" class="pull-left">
                                        <img class="media-object img-responsive hovereffect" src="{{ STATIC_URL }}theme/images/img17.jpg" alt="" />
                                    </a>
                                    <div class="media-body">
                                        <h5><a href="video-detail-double-sidebar.html">Falling Down Focus</a></h5>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i>10:56</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="video-detail-double-sidebar.html" class="pull-left">
                                        <img class="media-object img-responsive hovereffect" src="{{ STATIC_URL }}theme/images/img18.jpg" alt="" />
                                    </a>
                                    <div class="media-body">
                                        <h5><a href="video-detail-double-sidebar.html">Waters Fourth Winged</a></h5>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i>10:56</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Video List Tab End -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Interactive Tabs Widget End --> 
{% endblock %}