{% extends "base.html" %}
{% load i18n embed_video_tags lesson_tags pageviews_tags comment_tags keyword_tags mezzanine_tags %}

{% block meta_title %}Video | {{ lesson.title }}{% endblock %}
{% block meta_description %}{{ lesson.meta_description }}{% endblock %}
{% block meta_keywords %}{% metablock %}
{% keywords_for lesson as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}
{% block title %}Video | {{ lesson.title }}{% endblock %}

{% block breadcrumb_menu %}
<li>Videos</li>
<li class="active">{{ lesson.title }}</li>
{% endblock %}

{% block video_content %}
    {% video lesson.video as vid %}
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({appId: '{{ APP_ID }}', status: true, cookie: true,
            xfbml: true});
            };
            (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
    <!-- Video Player Section Start -->
    <div class="videoplayersec">
        <div class="vidcontainer">
            <div class="row"> 
                <!-- Video Player Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 playershadow">
                    <div class="playeriframe">
                        {% video vid 'large' %}
                    </div>
                </div>
                <!-- Video Player End --> 
                <!-- Video Stats and Sharing Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo">
                    <div class="row"> 
                        <!-- Uploader Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 uploader">
                            <figure> <a href="video-list.html"><img src="{{ STATIC_URL }}theme/images/avatar.gif" alt="" /></a> </figure>
                            <div class="aboutuploader">
                                <h5><a href="video-list.html">By {{ lesson.user.get_full_name }}</a></h5>
                                <time datetime="25-12-2014">Uploaded : {{ lesson.uploaded_date|date:"d b Y" }}</time>
                                <br />
                                <!-- <a class="btn btn-primary btn-xs backcolor" href="#">Watch All Videos</a> --> </div>
                        </div>
                        <!-- Uploader End --> 
                        <!-- Video Stats Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats">
                            <hr class="visible-xs" />
                            <ul>
                                <!-- <li class="likes">
                                    <h5>Likes</h5>
                                    <h2>250</h2>
                                </li> -->
                                <li class="views">
                                    <h5>Views</h5>
                                    <h2>{% pageviews %}</h2>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Stats End --> 
                        <!-- Video Share Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 videoshare">
                            <ul>
                                <li class="facebook">
                                    <i class="fa fa-facebook"></i>
                                    <div class="shaingstats">
                                        <h5>{{ shares.facebook }}</h5>
                                        <p>Shares</p>
                                    </div>
                                    <a href="javascript:;" class="link shareFacebook"></a>
                                </li>
                                <li class="twitter">
                                    <i class="fa fa-twitter"></i>
                                    <div class="shaingstats">
                                        <h5>{{ shares.twitter }}</h5>
                                        <p>Tweets</p>
                                    </div>
                                    <a href="javascript:;" class="link shareTwitter"></a>
                                </li>
                                <li class="gplus">
                                    <i class="fa fa-google-plus"></i>
                                    <div class="shaingstats">
                                        <h5>{{ shares.google_plus }}</h5>
                                        <p>Shares</p>
                                    </div>
                                    <a href="javascript:;" class="link shareGooglePlus"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Share End --> 
                    </div>
                </div>
                <!-- Video Stats and Sharing End --> 
                <!-- Like This Video Start -->
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 likeit">
                    <hr />
                    <a class="btn btn-primary backcolor" href="#">Like This Video</a>
                </div> -->
                <!-- Like This Video Enb --> 
            </div>
        </div>
    </div>
    <!-- Video Player Section End -->
    {% endvideo %}
{% endblock %}

{% block main %}
    <!-- Contents Section Started -->
    <div class="sections">
        <h2 class="heading">Comments</h2>
        <div class="clearfix"></div>
        <div id="comments">
            {% comments_for lesson %}
            <!-- <div class="media">
                <a href="#" class="pull-left">
                    <img alt="" class="media-object" src="images/avatar1.jpg" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">John Creator</a></h4>
                    <time datetime="2014-05-12T17:02">MAY 12, 2013 - 5:02 pm</time>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <div class="clearfix"></div>
                    <a class="btn btn-primary btn-xs backcolor" href="#">Reply</a>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left">
                    <img alt="" class="media-object" src="images/avatar2.jpg" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Robert D. Foust</a></h4>
                    <time datetime="2014-05-12T17:02">MAY 12, 2013 - 5:02 pm</time>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <div class="clearfix"></div>
                    <a class="btn btn-primary btn-xs backcolor" href="#">Reply</a>
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img alt="" class="media-object" src="images/avatar3.jpg" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Jimmy B. Allen</a></h4>
                            <time datetime="2014-05-12T17:02">MAY 12, 2013 - 5:02 pm</time>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>
                            <div class="clearfix"></div>
                            <a class="btn btn-primary btn-xs backcolor" href="#">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left">
                    <img alt="" class="media-object" src="images/avatar4.jpg" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Lorraine L. Keys</a></h4>
                    <time datetime="2014-05-12T17:02">MAY 12, 2013 - 5:02 pm</time>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <div class="clearfix"></div>
                    <a class="btn btn-primary btn-xs backcolor" href="#">Reply</a>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left">
                    <img alt="" class="media-object" src="images/avatar5.jpg" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">William M. Huggard</a></h4>
                    <time datetime="2014-05-12T17:02">MAY 12, 2013 - 5:02 pm</time>
                    <p>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </p>
                    <div class="clearfix"></div>
                    <a class="btn btn-primary btn-xs backcolor" href="#">Reply</a>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Contents Section End -->
    <div class="clearfix"></div>
{% endblock %}

{% block sidebar %}
    <!-- Interactive Tabs Widget start -->
    <div class="widget">
        <div class="interactivetabs"> 
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="intertabs">
                <li class="active"><a href="#relatedVideosTab" data-toggle="tab"><i class="fa fa-video-camera"></i>Related Videos</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Video List Tab Start -->
                <div class="tab-pane fade in active" id="relatedVideosTab">
                    <div class="videolistsmall">
                        <ul class="bloglist">
                            {% for related in lesson.related_videos.all %}
                                <li>
                                    <div class="media">
                                        <a href="{% url 'video_detail' related.slug %}" class="pull-left">
                                            <img class="media-object img-responsive hovereffect" src="{{ related.thumbnail }}" alt="" />
                                        </a>
                                        <div class="media-body">
                                            <h5><a href="{% url 'video_detail' related.slug %}">{{ related.title }}</a></h5>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i>{{ related.duration|convert_to_time }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Video List Tab End -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Interactive Tabs Widget End --> 
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){

            $('.shareFacebook').click(function(e){
                e.preventDefault();
                
                var imgUrl = "{{ lesson.thumbnail }}";
                var fbName = "{{ SITE_TITLE }}";
                var caption = "{{ lesson.title }}";
                var description = "{{ lesson.title }}"
                FB.ui(
                {
                method: 'feed',
                name: fbName,
                link: window.location.href,
                picture: imgUrl,
                caption: caption,
                description: description,
                message: ''
                });
            });

            $(".shareTwitter").click(function(e) {
                e.preventDefault();
                var twitterLink = "https://twitter.com/share?url=" + window.location.href;
                window.open(twitterLink);
            });

            $(".shareGooglePlus").click(function(e) {
                e.preventDefault();
                var googlePlusLink = "https://plus.google.com/share?url=" + window.location.href;
                window.open(googlePlusLink);
            });
        });
    </script>
{% endblock %}