.category-thumbnail {
    height: 250px;
}

.index-thumbnail {
    height: 180px;
}

.preLoader {
    display: none;
}

.preLoader img {
    position: absolute;
    top: 50%;
    left: 47%;
}

.videolistsmall {
    height: 340px;
    overflow-y: scroll;
}