.preLoader {
    display: none;
}

.preLoader img {
    position: absolute;
    top: 50%;
    left: 47%;
}

.videolistsmall {
    height: 340px;
    overflow-y: scroll;
}

.blog-description p {
    font-size: 14px;
}

.stick li a.dropdown-link {
    color: #fff !important;
}