{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}
    <div class="blogdetail sections">
        <div class="bootstrap-carousel">
            <div class="carousel slide" id="carousel-example-captions">
                {% block blog_post_detail_featured_image %}
                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}">
                        </div>
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="avatar">
                    {% block blog_post_detail_postedby %}
                        {% editable blog_post.publish_date %}
                            {% with blog_post.user as author %}
                            <figure>
                                <a href="blog-fullwidth.html"><img src="{{ STATIC_URL }}theme/images/avatar.gif" alt=""></a>
                            </figure>
                            <h5>By <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a></h5>
                            <p>
                                {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                            </p>
                            {% endwith %}
                        {% endeditable %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <div class="blogtext">
                    <h2 class="heading">{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}</h2>
                    <div class="clearfix"></div>
                    <div class="blogmetas">
                        <ul>
                            <li><i class="fa fa-calendar"></i>{{ blog_post.publish_date }}</li>
                            <li>
                                <i class="fa fa-align-justify"></i>
                                {% with blog_post.categories.all as categories %}
                                {% if categories %}
                                {% for category in categories %}
                                <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <p>
                        {% block blog_post_detail_content %}
                            {% editable blog_post.content %}
                                {{ blog_post.content|richtext_filters|safe }}
                            {% endeditable %}
                        {% endblock %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Detail End -->
    <div class="clearfix"></div>
    <!-- Contents Section Started -->
    <div class="sections">
        <h2 class="heading">Related Posts</h2>
        <div class="clearfix"></div>
        <div class="row">
            {% block blog_post_detail_related_posts %}
                {% if blog_post.related_posts.all %}
                    {% for post in blog_post.related_posts.all %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="blogposttwo">
                                <figure>
                                    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ MEDIA_URL }}{% thumbnail post.featured_image 300 300 %}" class="img-responsive hovereffect" alt="" />
                                    </a>
                                    {% endif %}
                                </figure>
                                <div class="text">
                                    <h4><a href="blogdetail-double-sidebar.html"><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:20 }}</a></h4>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>{{ post.publish_date }}</li>
                                        <li>
                                            <i class="fa fa-align-justify"></i>
                                            {% with post.categories.all as categories %}
                                            {% if categories %}
                                            {% for category in categories %}
                                            <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                        </li>
                                    </ul>
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-xs backcolor">Read More</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
            
        </div>
    </div>
    <!-- Contents Section End -->
    <div class="clearfix"></div>
    <!-- Contents Section Started -->
    <div class="sections">
        {% block blog_post_detail_commentlink %}
        <h2 class="heading">
            {% if blog_post.allow_comments %}
                {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                    <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                        data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                        {% trans "Comments" %}
                    {% endspaceless %}</a>
                {% else %}(<a href="#comments">{% spaceless %}
                    {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                    {% endspaceless %}</a>)
                {% endif %}
            {% endif %}
        </h2>
        {% endblock %}
        {% block blog_post_detail_comments %}
            {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
        {% endblock %}
    </div>
    <!-- Contents Section End -->
    <div class="clearfix"></div>        

{% endblock %}
