{% extends "base.html" %}
{% load i18n embed_video_tags lesson_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
    <!-- Contents Section Started -->
    <div class="sections">
        <h2 class="heading">Featured Videos</h2>
        <div class="clearfix"></div>
        <div class="row">
            {% for lesson in lessons %}
                {% video lesson.video as vid %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"> 
                        <!-- Video Box Start -->
                        <div class="videobox2">
                            <figure> 
                                <!-- Video Thumbnail Start --> 
                                <a href="{% url 'video_detail' lesson.slug %}">
                                    <img src="{{ vid.thumbnail }}" class="img-responsive hovereffect index-thumbnail" alt="" />
                                </a> 
                                <!-- Video Thumbnail End -->
                                <!-- Video Info Start -->
                                <div class="vidopts">
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>{{ lesson.duration|convert_to_time }}</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- Video Info End --> 
                            </figure>
                            <!-- Video Title Start -->
                            <h4><a href="video-detail-double-sidebar.html">{{ lesson.title|truncatechars:45 }}</a></h4>
                            <!-- Video Title End --> 
                        </div>
                        <!-- Video Box End --> 
                    </div>
                {% endvideo %}
            {% endfor %}
        </div>
    </div>
    <!-- Contents Section End -->
    <div class="clearfix"></div>
{% endblock %}
